<div class="items-with-spells-tab">
  <h3 class="form-header">Spells</h3>


  <ol class="warnings">
      {{#if @root.isOwned}}<li class="notification warning">Which spells are on an Owned Item cannot be edited.</li>{{/if}}
  </ol>


  <ol class="items-list">
    <ol class="item-list">
      {{#each itemSpells as |spell|}}
      <li class="item context-enabled flexrow" data-item-id="{{spell.id}}">
        <div class="item-name flexrow">
          <div class="item-image" style="background-image: url({{spell.img}})">{{{ @root/rollIcon }}}</div>
          <h4>{{spell.name}}</h4>
        </div>

        {{#if (and @root/isOwner (not @root/isOwned))}}
        <div class="item-controls">
          <a class="item-control configure-overrides" title="Configure Overrides"><i class="fas fa-edit"></i></a>
        </div>

        <div class="item-controls context-menu">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
      </li>
      {{/each}}
    </ol>
  </ol>

</div>
